{
  "test": "test/*.js",
  "exclude": [
    "/node_modules/",
    "/resources/"
  ],
  "use": {
    "loader": "babel-loader",
    "options": {
      "presets": [
       [
         "env",
        {
         "targets": {
          "chrome": 68
            }
          }
        ]
      ]
    }
  }
}
